# Virtual Environments
venv/

# Environment Variables
.env

# Python Cache and Bytecode
__pycache__/
*.pyc
*.pyo

# Local Database (SQLite)
expenses.db

# Logs
*.log

# Editor and OS Configs
.DS_Store
.idea/
.vscode/

# AWS/ECS Infrastructure Files
ecs-task-def.json
ecs-trust-policy.json

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfvars

# Local Test Script
test_secret.py