# Virtual Environments
venv/

# Environment Variables
.env
*.csv

# Python Cache and Bytecode
__pycache__/
*.pyc
*.pyo

# Local Database (SQLite)
expenses.db

# Logs
*.log

# Editor and OS Configs
.DS_Store
.idea/
.vscode/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfvars

# Local Test Script
test_secret.py